.warna {
    filter: brightness(0.4);
}
html {
    scroll-behavior: smooth;
}
.teks {
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.75);
}
.teks-wht {
    text-shadow: 4px 4px 5px rgba(255, 255, 255, 0.171);
}
.img-hover:hover .card-img-top {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.carousel .carousel-inner .c-item {
    /* height: 480px; */
    height: 100vh;
}
.carousel .carousel-inner .c-item .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}
.text-justify {
    text-align: justify;
}
.footer h4::before {
    border-bottom: 3px solid #292929;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}
a {
    text-decoration: none;
}
a.a-hover {
    color: rgba(255, 255, 255, 0.5);
}
a.a-hover:hover {
    color: white;
    transition: all 0.3s ease-in-out;
}
